// Grid Variables
$max-width: 1200px;
$small-window: 900px;
$large-window: 1100px ;

// Typography variables:

$base-font-size: 16px;
$general-font-family: 'Roboto Condensed';
$headline-font-family: 'Roboto Slab';
$light-weight: 400;
$bold-weight: 700;

// grid variables:

$max-width: 1400px;
$small-window: 900px;
$large-window: 1200px ;

// Colors:

$light-color: hsla(0, 0%, 95%, 1);
$dark-color: hsla(0, 0%, 19%, 1);
$link-color: hsla(192, 36%, 48%, 1);
$link-color-hover: hsla(191, 46%, 31%, 1);
$accent-color: hsla(259, 21%, 54%, 1);


// Nav variables:
$nav-height: 60px;
$nav-title-color: hsla(0, 0%, 14%, 1);
$nav-links-color: hsla(0, 0%, 14%, 1);
$nav-links-color-hover: hsla(0, 0%, 14%, 1);
$nav-links-background-color: hsla(0, 0%, 14%, 1);
$nav-links-background-color-hover: hsla(0, 0%, 14%, 1);


// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
