.nav-row {
  background: $dark-color;
}
.nav {
  padding: 0 20px;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  height: $nav-height;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  * {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  h1 {
    color: $nav-title-color;
    text-transform: uppercase;
    line-height: $nav-height;
    color: $light-color;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;

    a {
      text-align: center;
      text-transform:uppercase;
      // font-weight: $bold-weight;
      display: block;
      height: $nav-height;
      line-height: $nav-height;
      color: $light-color;
      box-shadow: inset 0 0 0 $dark-color;
      transition: all ease 0.3s;
      letter-spacing: 2px;
      &:hover {
        // transform: translateY(2px);
        box-shadow: inset 0 -100px 0 $light-color;
        color: $dark-color;
      }
    }
  }

}

.menu-button{
  &:hover{
    cursor: pointer;
  }
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  color: $light-color;
}

@media (max-width: $small-window){
  .menu-button {
    display: block;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
  }
.nav {

  padding: 20px 0;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    ul {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      a {
        flex-grow: 1;
      }

    }
  }
}
}

.nav-slide-down {

  height: 400px !important;
}

.menu-btn-rotate {
  transform: rotate(-450deg);
}
